*.iml
.gradle
/local.properties
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
.DS_Store
/build
/captures
.externalNativeBuild
TeraTourAR/build/generated/data_binding_base_class_source_out/
TeraTourAR/build/generated/res/
TeraTourAR/build/generated/source/apt/
TeraTourAR/build/generated/source/dataBinding/
TeraTourAR/build/generated/source/rs/
TeraTourAR/build/intermediates/annotation_processor_list/
TeraTourAR/build/intermediates/annotations_typedef_file/
TeraTourAR/build/intermediates/annotations_zip/
TeraTourAR/build/intermediates/blame/
TeraTourAR/build/intermediates/check-manifest/
TeraTourAR/build/intermediates/data-binding/
TeraTourAR/build/intermediates/data_binding_base_class_log_artifact/
TeraTourAR/build/intermediates/data_binding_base_class_logs_dependency_artifacts/
TeraTourAR/build/intermediates/data_binding_dependency_artifacts/
TeraTourAR/build/intermediates/data_binding_layout_info_type_merge/
TeraTourAR/build/intermediates/incremental/dataBindingGenBaseClassesDebug/
TeraTourAR/build/intermediates/incremental/debug-mergeJavaRes/
TeraTourAR/build/intermediates/incremental/debug-mergeJniLibs/
TeraTourAR/build/intermediates/incremental/mergeDebugJniLibFolders/
TeraTourAR/build/intermediates/incremental/mergeDebugResources/
TeraTourAR/build/intermediates/intermediate-jars/
TeraTourAR/build/intermediates/javac/
TeraTourAR/build/intermediates/jniLibs/
TeraTourAR/build/intermediates/library_and_local_jars_jni/
TeraTourAR/build/intermediates/packaged-classes/
TeraTourAR/build/intermediates/public_res/
TeraTourAR/build/intermediates/res/merged/
TeraTourAR/build/intermediates/rs/
TeraTourAR/build/intermediates/shader_assets/
TeraTourAR/build/intermediates/shaders/
TeraTourAR/build/intermediates/transforms/
TeraTourAR/build/outputs/aar/
TeraTourAR/build/tmp/
TeraTourAR/everyplay/build/generated/res/
TeraTourAR/everyplay/build/generated/source/apt/
TeraTourAR/everyplay/build/generated/source/rs/
TeraTourAR/everyplay/build/intermediates/annotation_processor_list/
TeraTourAR/everyplay/build/intermediates/annotations_typedef_file/
TeraTourAR/everyplay/build/intermediates/annotations_zip/
TeraTourAR/everyplay/build/intermediates/check-manifest/
TeraTourAR/everyplay/build/intermediates/incremental/debug-mergeJavaRes/
TeraTourAR/everyplay/build/intermediates/incremental/debug-mergeJniLibs/
TeraTourAR/everyplay/build/intermediates/incremental/mergeDebugJniLibFolders/
TeraTourAR/everyplay/build/intermediates/incremental/packageDebugResources/stripped.dir/
TeraTourAR/everyplay/build/intermediates/intermediate-jars/
TeraTourAR/everyplay/build/intermediates/javac/
TeraTourAR/everyplay/build/intermediates/jniLibs/
TeraTourAR/everyplay/build/intermediates/library_and_local_jars_jni/
TeraTourAR/everyplay/build/intermediates/library_assets/
TeraTourAR/everyplay/build/intermediates/packaged-classes/
TeraTourAR/everyplay/build/intermediates/public_res/
TeraTourAR/everyplay/build/intermediates/rs/
TeraTourAR/everyplay/build/intermediates/shader_assets/
TeraTourAR/everyplay/build/intermediates/shaders/
TeraTourAR/everyplay/build/intermediates/transforms/
TeraTourAR/everyplay/build/outputs/aar/
TeraTourAR/everyplay/build/tmp/
TeraTourAR/teratourandroidlib/libs/
TeraTourAR/teratourandroidlib/src/main/res/drawable/
app/libs/
app/sampledata/
app/src/main/res/searchable/
app/src/main/res/searcheable.xml/
