<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
    package="com.teratour.plugin.teratourandroidlib">

    <application>
        <activity android:name=".VideoPlayerActivity">
            <!--android:theme="@style/Theme.AppCompat.Light.NoActionBar">-->

        </activity>
    </application>

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-feature android:name="android.hardware.touchscreen" android:required="true" />
    <uses-feature android:name="android.hardware.touchscreen.multitouch" android:required="true" />
    <uses-feature android:name="android.hardware.touchscreen.multitouch.distinct" android:required="true" />


</manifest>